In [80]:
import numpy as np
import pandas as pd
import glob
import datetime

In [13]:
pos1path = glob.glob("data/POS_FEAT1.csv/*.csv")
pos1path

['data/POS_FEAT1.csv/part-00000-6b71a3f4-8131-47d4-8171-5cf74e3ae985-c000.csv']

In [99]:
pos1 = pd.read_csv(pos1path[0])[["ICUSTAY_ID", "ITEMID", "VALUENUM"]]

In [100]:
feat_list = [220050, 220045, 223761, 220210, 220277, 227013, 220051]

In [101]:
pos1

      ICUSTAY_ID  ITEMID  VALUENUM
0         212203  220045      89.0
1         212203  220210      21.0
2         212203  220277      95.0
3         248493  220045      95.0
4         248493  220210      17.0
5         248493  223761      99.1
6         264601  220045      82.0
7         264601  220050      97.0
8         264601  220051      38.0
9         264601  220210      25.0
10        264601  220277      99.0
11        264601  223761     100.5
12        289627  220045     125.0
13        289627  220210      26.0
14        289627  220277      99.0
15        289627  223761      98.4
16        298456  220045      86.0
17        298456  220050     110.0
18        298456  220051      58.0
19        298456  220210      21.0
20        298456  220277      99.0
21        298456  223761      98.0
22        211396  220045      91.0
23        211396  220210      26.0
24        211396  220277     100.0
25        211396  220045      97.0
26        211396  220210      27.0
27        211396  220045      93.0
28        211396  220210      23.0
29        211396  220045     100.0
...          ...     ...       ...
3765      267760  220050     109.0
3766      267760  220051      61.0
3767      267760  220210      24.0
3768      267760  220277      99.0
3769      267760  223761      98.3
3770      228114  220045     110.0
3771      228114  220050     117.0
3772      228114  220051      70.0
3773      228114  220210      21.0
3774      228114  220277      99.0
3775      228114  223761      97.1
3776      222678  220045     100.0
3777      222678  220050     125.0
3778      222678  220051      62.0
3779      222678  220210      20.0
3780      222678  220277      97.0
3781      238948  220045      70.0
3782      238948  220210      12.0
3783      238948  220277      98.0
3784      238948  220050     105.0
3785      238948  220051      55.0
3786      248572  220045     103.0
3787      248572  220050     102.0
3788      248572  220051      52.0
3789      248572  220210      16.0
3790      248572  220277      99.0
3791      248572  223761      98.6
3792      271869  220045      89.0
3793      271869  220210      15.0
3794      271869  220277      94.0

[3795 rows x 3 columns]

In [110]:
pos1 = pos1.groupby(["ICUSTAY_ID", "ITEMID"]).mean().reset_index()

In [86]:
icu = pd.read_csv("data/ICUSTAYS.csv")[["ICUSTAY_ID", "SUBJECT_ID", "INTIME"]]
patient = pd.read_csv("data/PATIENTS.csv")[["SUBJECT_ID", "GENDER", "DOB"]]

In [87]:
patient_icu = pd.merge(icu, patient, how='inner', on="SUBJECT_ID")

In [88]:
patient_icu["DOB"][0]

'2132-02-21 00:00:00'

In [89]:
patient_icu.head(5)

   ICUSTAY_ID  SUBJECT_ID               INTIME GENDER                  DOB
0      280836         268  2198-02-14 23:27:38      F  2132-02-21 00:00:00
1      206613         269  2170-11-05 11:05:29      M  2130-09-30 00:00:00
2      220345         270  2128-06-24 15:05:20      M  2048-05-26 00:00:00
3      249196         271  2120-08-07 23:12:42      F  2074-11-30 00:00:00
4      210407         272  2186-12-25 21:08:04      M  2119-11-21 00:00:00

In [90]:
patient_icu["DOB"] = pd.to_datetime(patient_icu["DOB"])
patient_icu["INTIME"] = pd.to_datetime(patient_icu["INTIME"])

In [91]:
patient_icu.dtypes

ICUSTAY_ID             int64
SUBJECT_ID             int64
INTIME        datetime64[ns]
GENDER                object
DOB           datetime64[ns]
dtype: object

In [96]:
patient_icu["AGE"] = patient_icu.apply(lambda x: (x.INTIME - x.DOB).days / 365, axis=1)

In [98]:
age_gender = patient_icu[["ICUSTAY_ID", "AGE", "GENDER"]]

In [121]:
pivot1 = pos1.pivot(index="ICUSTAY_ID", columns="ITEMID", values="VALUENUM")
pivot1

ITEMID          220045  220050  220051  220210      220277  223761
ICUSTAY_ID
200150       75.000000     NaN     NaN    12.0   93.000000   96.80
200282       87.000000     NaN     NaN    18.0   99.000000     NaN
200347      111.000000   109.0   54.00    31.0   93.000000   98.40
200550       99.000000     NaN     NaN    19.0         NaN   97.70
201046       80.000000    88.0   37.00    11.0  100.000000   99.10
201077      122.000000   116.0   73.00    27.0  100.000000     NaN
201457      111.000000     NaN     NaN    31.0   96.000000     NaN
201555      107.000000   196.0  193.00    23.0   99.000000     NaN
201791       75.000000     NaN     NaN    19.0   97.000000   99.30
202148       95.000000   118.0   55.00    14.0  100.000000     NaN
202171      102.000000    99.0   52.00    19.0   98.000000   97.70
202256       82.000000   148.0   57.00    16.0  100.000000  100.60
202468       94.000000     NaN     NaN    22.0   94.000000     NaN
202480       80.000000     NaN     NaN    20.0  100.000000     NaN
202610       81.000000     NaN     NaN    20.0   95.000000   98.00
202634       81.000000   103.0   61.00    21.0   98.000000     NaN
202907       79.000000   111.0   38.50    19.0   94.500000   97.80
202999       73.000000    93.0   49.00    12.0   99.000000     NaN
203077       71.000000     NaN     NaN    21.0   97.000000     NaN
203194      104.000000   138.5   64.00    23.5   95.500000   96.10
203610      110.000000     NaN     NaN    18.0   96.000000     NaN
203642      100.000000     NaN     NaN    21.0   98.000000     NaN
203979       97.000000   145.0   64.00    22.0   89.000000     NaN
204040       91.000000     NaN     NaN    29.0   93.000000   98.70
204055       90.250000   107.0   47.75    26.5   96.750000   99.65
204061      100.000000   122.0   47.00    26.0   99.000000   99.00
204194      115.000000     NaN     NaN    22.0   96.000000     NaN
204250      126.000000     NaN     NaN    20.0   95.000000   99.50
204305      130.000000   117.0   59.00    33.0   95.000000   97.00
204344      115.000000    87.0   53.00    29.0   98.000000     NaN
...                ...     ...     ...     ...         ...     ...
295484      101.000000     NaN     NaN    24.0   94.000000     NaN
295499       88.000000   100.0   43.00    24.0   98.000000     NaN
295560       78.000000     NaN     NaN    23.0   96.000000     NaN
296186       89.000000     NaN     NaN    14.0  100.000000   98.10
296373       89.000000   105.0   47.00    19.0   99.000000   95.40
296494      116.000000     NaN     NaN    21.0  100.000000  100.10
296684       82.000000     NaN     NaN    17.0   96.000000     NaN
296700       84.000000     NaN     NaN    28.0   98.000000   97.60
296871      115.000000     NaN     NaN    14.0  100.000000     NaN
297055      120.000000     NaN     NaN    18.0         NaN     NaN
297261       84.000000     NaN     NaN    23.0   99.000000     NaN
297365       99.000000     NaN     NaN    24.0   92.000000   98.60
297480       96.000000    92.0   48.00    19.0  100.000000   99.60
297610      114.000000    72.0   39.00    26.0   95.000000     NaN
297928       78.000000     NaN     NaN    18.0  100.000000     NaN
298046       77.000000     NaN     NaN    19.0   98.000000     NaN
298144       78.000000    94.0   43.00    21.0   95.000000   95.70
298164             NaN     NaN     NaN     NaN         NaN   99.20
298182      108.000000     NaN     NaN    24.0  100.000000   97.30
298236       96.233333     NaN     NaN    29.8   96.516667     NaN
298275       81.000000   108.0   46.00    11.0   99.000000   97.70
298404       87.000000     NaN     NaN    25.0   97.000000   96.70
298424      102.000000     NaN     NaN    15.0  100.000000   98.90
298456       86.000000   110.0   58.00    21.0   99.000000   98.00
298514       85.000000    92.0   52.00    19.0  100.000000   99.60
298859       69.000000    95.0   49.00    17.0   98.000000     NaN
299121       93.000000     NaN     NaN    21.0  100.000000   99.00
299275      102.000000   149.0   89.00    21.0   99.000000     NaN
299518       86.000000     NaN     NaN    17.0   97.000000  100.60
299867       94.000000     NaN     NaN    28.0  100.000000     NaN

[610 rows x 6 columns]

In [117]:
pivot1.isna().sum()

ITEMID
220045      4
220050    340
220051    341
220210      7
220277     11
223761    353
dtype: int64

In [119]:
pivot1.reset_index()

ITEMID  ICUSTAY_ID      220045  220050  220051  220210      220277  223761
0           200150   75.000000     NaN     NaN    12.0   93.000000   96.80
1           200282   87.000000     NaN     NaN    18.0   99.000000     NaN
2           200347  111.000000   109.0   54.00    31.0   93.000000   98.40
3           200550   99.000000     NaN     NaN    19.0         NaN   97.70
4           201046   80.000000    88.0   37.00    11.0  100.000000   99.10
5           201077  122.000000   116.0   73.00    27.0  100.000000     NaN
6           201457  111.000000     NaN     NaN    31.0   96.000000     NaN
7           201555  107.000000   196.0  193.00    23.0   99.000000     NaN
8           201791   75.000000     NaN     NaN    19.0   97.000000   99.30
9           202148   95.000000   118.0   55.00    14.0  100.000000     NaN
10          202171  102.000000    99.0   52.00    19.0   98.000000   97.70
11          202256   82.000000   148.0   57.00    16.0  100.000000  100.60
12          202468   94.000000     NaN     NaN    22.0   94.000000     NaN
13          202480   80.000000     NaN     NaN    20.0  100.000000     NaN
14          202610   81.000000     NaN     NaN    20.0   95.000000   98.00
15          202634   81.000000   103.0   61.00    21.0   98.000000     NaN
16          202907   79.000000   111.0   38.50    19.0   94.500000   97.80
17          202999   73.000000    93.0   49.00    12.0   99.000000     NaN
18          203077   71.000000     NaN     NaN    21.0   97.000000     NaN
19          203194  104.000000   138.5   64.00    23.5   95.500000   96.10
20          203610  110.000000     NaN     NaN    18.0   96.000000     NaN
21          203642  100.000000     NaN     NaN    21.0   98.000000     NaN
22          203979   97.000000   145.0   64.00    22.0   89.000000     NaN
23          204040   91.000000     NaN     NaN    29.0   93.000000   98.70
24          204055   90.250000   107.0   47.75    26.5   96.750000   99.65
25          204061  100.000000   122.0   47.00    26.0   99.000000   99.00
26          204194  115.000000     NaN     NaN    22.0   96.000000     NaN
27          204250  126.000000     NaN     NaN    20.0   95.000000   99.50
28          204305  130.000000   117.0   59.00    33.0   95.000000   97.00
29          204344  115.000000    87.0   53.00    29.0   98.000000     NaN
..             ...         ...     ...     ...     ...         ...     ...
580         295484  101.000000     NaN     NaN    24.0   94.000000     NaN
581         295499   88.000000   100.0   43.00    24.0   98.000000     NaN
582         295560   78.000000     NaN     NaN    23.0   96.000000     NaN
583         296186   89.000000     NaN     NaN    14.0  100.000000   98.10
584         296373   89.000000   105.0   47.00    19.0   99.000000   95.40
585         296494  116.000000     NaN     NaN    21.0  100.000000  100.10
586         296684   82.000000     NaN     NaN    17.0   96.000000     NaN
587         296700   84.000000     NaN     NaN    28.0   98.000000   97.60
588         296871  115.000000     NaN     NaN    14.0  100.000000     NaN
589         297055  120.000000     NaN     NaN    18.0         NaN     NaN
590         297261   84.000000     NaN     NaN    23.0   99.000000     NaN
591         297365   99.000000     NaN     NaN    24.0   92.000000   98.60
592         297480   96.000000    92.0   48.00    19.0  100.000000   99.60
593         297610  114.000000    72.0   39.00    26.0   95.000000     NaN
594         297928   78.000000     NaN     NaN    18.0  100.000000     NaN
595         298046   77.000000     NaN     NaN    19.0   98.000000     NaN
596         298144   78.000000    94.0   43.00    21.0   95.000000   95.70
597         298164         NaN     NaN     NaN     NaN         NaN   99.20
598         298182  108.000000     NaN     NaN    24.0  100.000000   97.30
599         298236   96.233333     NaN     NaN    29.8   96.516667     NaN
600         298275   81.000000   108.0   46.00    11.0   99.000000   97.70
601         298404   87.000000     NaN     NaN    25.0   97.000000   96.70
602         298424  102.000000     NaN     NaN    15.0  100.000000   98.90
603         298456   86.000000   110.0   58.00    21.0   99.000000   98.00
604         298514   85.000000    92.0   52.00    19.0  100.000000   99.60
605         298859   69.000000    95.0   49.00    17.0   98.000000     NaN
606         299121   93.000000     NaN     NaN    21.0  100.000000   99.00
607         299275  102.000000   149.0   89.00    21.0   99.000000     NaN
608         299518   86.000000     NaN     NaN    17.0   97.000000  100.60
609         299867   94.000000     NaN     NaN    28.0  100.000000     NaN

[610 rows x 7 columns]